bin
dev
home
lib
lib32
lib64
media
mnt
opt
proc
sbin
sys

!usr

usr/*
!usr/src

usr/src/linux*/*
usr/src/linux*/\.*
!usr/src/linux*/.config

!/var

/var/*
!/var/lib

/var/lib/*
!/var/lib/portage

/var/lib/portage/*
!/var/lib/portage/world
